CHAPTER-3  INTRODUCING LISTS
===

What is list?
---
   A list is a collection of items in a particular order.
   
   you can make alist that includes the letters of alphabet, the digits    from 0-9,or the names of all people in your class.

In [1]:
class_mates = ['ragu', 'jegan', 'vicky', 'krishna', 'navith', 'naveen', 'vel', 'kannan', 'abi']
print(class_mates)
class_mates = ['ragu', 'jegan', 'vicky', 'krishna', 'navith', 'naveen', 'vel', 'kannan', 'abi',2]
print(class_mates)

['ragu', 'jegan', 'vicky', 'krishna', 'navith', 'naveen', 'vel', 'kannan', 'abi']
['ragu', 'jegan', 'vicky', 'krishna', 'navith', 'naveen', 'vel', 'kannan', 'abi', 2]

Accessing Elements in a List
----

In [2]:
print(class_mates[2])

vicky

Python has a special syntax for accessing the last element in a list. By ask-
ing for the item at index -1, Python always returns the last item in the list:

In [3]:
print(class_mates[-1])

2

In [4]:
print(class_mates[-1].title())

AttributeError: 'int' object has no attribute 'title'

Index Positions Start at 0, Not 1
---


Python considers the first item in a list to be at position 0, not position 1.
This is true of most programming languages, and the reason has to do with
how the list operations are implemented at a lower level. If you’re receiving
unexpected results, determine whether you are making a simple off-by-one
error.

The second item in a list has an index of 1. Using this simple counting
system, you can get any element you want from a list by subtracting one
from its position in the list. For instance, to access the fourth item in a list,
you request the item at index 3.

In [ ]:
print(class_mates[1])
print(class_mates[3])

Using Individual Values from a List
---

In [5]:
message = class_mates[-2].title()+" "+"is an university hockey player"

In [6]:
print(message)

Abi is an university hockey player

Changing, adding, and removing elements
---

Most lists you create will be dynamic, meaning you’ll build a list and
then add and remove elements from it as your program runs its course. For
example, you might create a game in which a player has to shoot aliens out
of the sky. You could store the initial set of aliens in a list and then remove
an alien from the list each time one is shot down. Each time a new alien
appears on the screen, you add it to the list. Your list of aliens will decrease
and increase in length throughout the course of the game.

Modifying Elements in a List
----
The syntax for modifying an element is similar to the syntax for accessing
an element in a list. To change an element, use the name of the list followed
by the index of the element you want to change, and then provide the new
value you want that item to have.

In [7]:
math = ['vector', 'statistics', 'algebra']
math

['vector', 'statistics', 'algebra']

In [8]:
math[0] = 'probability'
math

['probability', 'statistics', 'algebra']

Adding Elements to a List
---
You might want to add a new element to a list for many reasons. For
example, you might want to make new aliens appear in a game, add new
data to a visualization, or add new registered users to a website you’ve
built. Python provides several ways to add new data to existing lists.

appending Elements to the End of a List
---
The simplest way to add a new element to a list is to append the item to the
list. When you append an item to a list, the new element is added to the end
of the list. Using the same list we had in the previous example, we’ll add the
new element 'ducati' to the end of the list:

In [9]:
math = ['vector', 'statistics', 'algebra']
math.append('probability')
math

['vector', 'statistics', 'algebra', 'probability']

In [10]:
math.append('geometry')
math.append('measurements')
math.append('calculus')
math

['vector',
 'statistics',
 'algebra',
 'probability',
 'geometry',
 'measurements',
 'calculus']

Inserting Elements into a List
----
You can add a new element at any position in your list by using the insert()
method. You do this by specifying the index of the new element and the
value of the new item.

In [11]:
math = ['vector', 'statistics', 'algebra']
math.insert(0,'probability')
math

['probability', 'vector', 'statistics', 'algebra']

In [12]:
math = ['vector', 'statistics', 'algebra']
math.insert(-1,'geometry')
math

['vector', 'statistics', 'geometry', 'algebra']

Removing Elements from a List
---
Often, you’ll want to remove an item or a set of items from a list.

Removing an Item Using the del Statement
---
If you know the position of the item you want to remove from a list, you can
use the del statement.

In [13]:
math = ['vector', 'statistics', 'algebra']
del math[0]
math

['statistics', 'algebra']

In [14]:
del math[-1]
math

['statistics']

Removing an Item Using the pop() Method
---

In [15]:
math = ['vector','statistics','algebra','probability','geometry','measurements','calculus']
print (math)

['vector', 'statistics', 'algebra', 'probability', 'geometry', 'measurements', 'calculus']

In [16]:
popped_math = math.pop()
print(popped_math)

calculus

In [17]:
print(math)

['vector', 'statistics', 'algebra', 'probability', 'geometry', 'measurements']

Popping Items from any Position in a List
---

In [18]:
math = ['vector','statistics','algebra','probability','geometry','measurements','calculus']
popped_math = math.pop(1)
print(popped_math+" is a base of Machine Learning")

statistics is a base of Machine Learning

Removing an Item by Value
---

In [19]:
math = ['vector','statistics','algebra','probability','geometry','measurements','calculus']
math.remove('algebra')
print(math)

['vector', 'statistics', 'probability', 'geometry', 'measurements', 'calculus']

In [20]:
math = ['vector','statistics','algebra','probability','geometry','measurements','calculus']
too_hard = 'calculus'
math.remove(too_hard)
math
print("\n " + too_hard.title() + " is too hard for me.")

 Calculus is too hard for me.

organizing a list
---

Sorting a List Permanently with the sort() Method
---
Python’s sort() method makes it relatively easy to sort a list. Imagine we
have a list of cars and want to change the order of the list to store them
alphabetically. To keep the task simple, let’s assume that all the values in
the list are lowercase.

In [21]:
subject = ['map reduce', 'machine learning', 'data visualization','data engineering','no sql','computer network']
subject

['map reduce',
 'machine learning',
 'data visualization',
 'data engineering',
 'no sql',
 'computer network']

In [22]:
subject.sort()
print(subject)

['computer network', 'data engineering', 'data visualization', 'machine learning', 'map reduce', 'no sql']

In [23]:
subject.sort(reverse=True)
print(subject)

['no sql', 'map reduce', 'machine learning', 'data visualization', 'data engineering', 'computer network']

In [24]:
print("Here is the original list:")
print(subject)
print("\nHere is the sorted list:")
print(sorted(subject))
print("\nHere is the original list again:")
print(subject)

Here is the original list:
['no sql', 'map reduce', 'machine learning', 'data visualization', 'data engineering', 'computer network']

Here is the sorted list:
['computer network', 'data engineering', 'data visualization', 'machine learning', 'map reduce', 'no sql']

Here is the original list again:
['no sql', 'map reduce', 'machine learning', 'data visualization', 'data engineering', 'computer network']

Printing a List in Reverse Order
---

To reverse the original order of a list, you can use the reverse() method.

If we originally stored the list of cars in chronological order according to
when we owned them, we could easily rearrange the list into reverse chron-ological order:

In [25]:
subject = ['map reduce', 'machine learning', 'data visualization','data engineering','no sql','computer network']
subject.reverse()
print(subject)

['computer network', 'no sql', 'data engineering', 'data visualization', 'machine learning', 'map reduce']

Finding the Length of a List
---
You can quickly find the length of a list by using the len() function. The list
in this example has four items, so its length is 4:

In [26]:
subject = ['map reduce', 'machine learning', 'data visualization','data engineering','no sql','computer network']
len(subject)

6

Avoiding Index errors when working with lists
---
One type of error is common to see when you’re working with lists for the
first time. Let’s say you have a list with three items, and you ask for the
7th item:

In [27]:
subject = ['map reduce', 'machine learning', 'data visualization','data engineering','no sql','computer network']
print(subject[6])

IndexError: list index out of range

In [28]:
print(subject[-1])

computer network

In [29]:
subject=[]
print(subject[0])

IndexError: list index out of range