INTRODUCING LISTS
===

What is list?
---
   A list is a collection of items in a particular order.
   
   you can make alist that includes the letters of alphabet, the digits    from 0-9,or the names of all people in your class.

In [1]:
class_mates = ['ragu', 'jegan', 'vicky', 'krishna', 'navith', 'naveen', 'vel', 'kannan', 'abi']
print(class_mates)
class_mates = ['ragu', 'jegan', 'vicky', 'krishna', 'navith', 'naveen', 'vel', 'kannan', 'abi',"Ragu"]
print(class_mates)

['ragu', 'jegan', 'vicky', 'krishna', 'navith', 'naveen', 'vel', 'kannan', 'abi']
['ragu', 'jegan', 'vicky', 'krishna', 'navith', 'naveen', 'vel', 'kannan', 'abi', 'Ragu']

Accessing Elements in a List
----

In [2]:
print(class_mates[2])

vicky

Python has a special syntax for accessing the last element in a list. By ask-
ing for the item at index -1, Python always returns the last item in the list:

In [3]:
print(class_mates[-1])

Ragu

In [4]:
print(class_mates[-1].title())

Ragu

Index Positions Start at 0, Not 1
---


Python considers the first item in a list to be at position 0, not position 1.
This is true of most programming languages, and the reason has to do with
how the list operations are implemented at a lower level. If you’re receiving
unexpected results, determine whether you are making a simple off-by-one
error.

The second item in a list has an index of 1. Using this simple counting
system, you can get any element you want from a list by subtracting one
from its position in the list. For instance, to access the fourth item in a list,
you request the item at index 3.

In [5]:
print(class_mates[1])
print(class_mates[3])

jegan
krishna

Using Individual Values from a List
---

In [6]:
message = class_mates[-2].title()+" "+"is an university hockey player"

In [7]:
print(message)

Abi is an university hockey player

Changing, adding, and removing elements
---

Most lists you create will be dynamic, meaning you’ll build a list and
then add and remove elements from it as your program runs its course. For
example, you might create a game in which a player has to shoot aliens out
of the sky. You could store the initial set of aliens in a list and then remove
an alien from the list each time one is shot down. Each time a new alien
appears on the screen, you add it to the list. Your list of aliens will decrease
and increase in length throughout the course of the game.

Modifying Elements in a List
----
The syntax for modifying an element is similar to the syntax for accessing
an element in a list. To change an element, use the name of the list followed
by the index of the element you want to change, and then provide the new
value you want that item to have.

In [8]:
math = ['vector', 'statistics', 'algebra']
math

['vector', 'statistics', 'algebra']

In [9]:
math[0] = 'probability'
math

['probability', 'statistics', 'algebra']

Adding Elements to a List
---
You might want to add a new element to a list for many reasons. For
example, you might want to make new aliens appear in a game, add new
data to a visualization, or add new registered users to a website you’ve
built. Python provides several ways to add new data to existing lists.

appending Elements to the End of a List
---
The simplest way to add a new element to a list is to append the item to the
list. When you append an item to a list, the new element is added to the end
of the list. Using the same list we had in the previous example, we’ll add the
new element 'ducati' to the end of the list:

In [10]:
math = ['vector', 'statistics', 'algebra']
math.append('probability')
math

['vector', 'statistics', 'algebra', 'probability']

In [11]:
math.append('geometry')
math.append('measurements')
math.append('calculus')
math

['vector',
 'statistics',
 'algebra',
 'probability',
 'geometry',
 'measurements',
 'calculus']

Inserting Elements into a List
----
You can add a new element at any position in your list by using the insert()
method. You do this by specifying the index of the new element and the
value of the new item.

In [12]:
math = ['vector', 'statistics', 'algebra']
math.insert(0,'probability')
math

['probability', 'vector', 'statistics', 'algebra']

In [13]:
math = ['vector', 'statistics', 'algebra']
math.insert(-1,'geometry')
math

['vector', 'statistics', 'geometry', 'algebra']

Removing Elements from a List
---
Often, you’ll want to remove an item or a set of items from a list.

Removing an Item Using the del Statement
---
If you know the position of the item you want to remove from a list, you can
use the del statement.

In [14]:
math = ['vector', 'statistics', 'algebra']
del math[0]
math

['statistics', 'algebra']

In [15]:
del math[-1]
math

['statistics']

Removing an Item Using the pop() Method
---

In [16]:
math = ['vector','statistics','algebra','probability','geometry','measurements','calculus']
print (math)

['vector', 'statistics', 'algebra', 'probability', 'geometry', 'measurements', 'calculus']

In [17]:
popped_math = math.pop()
print(popped_math)

calculus

In [18]:
print(math)

['vector', 'statistics', 'algebra', 'probability', 'geometry', 'measurements']

Popping Items from any Position in a List
---

In [19]:
math = ['vector','statistics','algebra','probability','geometry','measurements','calculus']
popped_math = math.pop(1)
print(popped_math+" is a base of Machine Learning")

statistics is a base of Machine Learning

Removing an Item by Value
---

In [20]:
math = ['vector','statistics','algebra','probability','geometry','measurements','calculus']
math.remove('algebra')
print(math)

['vector', 'statistics', 'probability', 'geometry', 'measurements', 'calculus']

In [21]:
math = ['vector','statistics','algebra','probability','geometry','measurements','calculus']
too_hard = 'calculus'
math.remove(too_hard)
math
print("\n " + too_hard.title() + " is too hard for me.")

 Calculus is too hard for me.

organizing a list
---

Sorting a List Permanently with the sort() Method
---
Python’s sort() method makes it relatively easy to sort a list. Imagine we
have a list of cars and want to change the order of the list to store them
alphabetically. To keep the task simple, let’s assume that all the values in
the list are lowercase.

In [22]:
subject = ['map reduce', 'machine learning', 'data visualization','data engineering','no sql','computer network']
subject

['map reduce',
 'machine learning',
 'data visualization',
 'data engineering',
 'no sql',
 'computer network']

In [23]:
subject.sort()
print(subject)

['computer network', 'data engineering', 'data visualization', 'machine learning', 'map reduce', 'no sql']

In [24]:
subject.sort(reverse=True)
print(subject)

['no sql', 'map reduce', 'machine learning', 'data visualization', 'data engineering', 'computer network']

In [25]:
print("Here is the original list:")
print(subject)
print("\nHere is the sorted list:")
print(sorted(subject))
print("\nHere is the original list again:")
print(subject)

Here is the original list:
['no sql', 'map reduce', 'machine learning', 'data visualization', 'data engineering', 'computer network']

Here is the sorted list:
['computer network', 'data engineering', 'data visualization', 'machine learning', 'map reduce', 'no sql']

Here is the original list again:
['no sql', 'map reduce', 'machine learning', 'data visualization', 'data engineering', 'computer network']

Printing a List in Reverse Order
---

To reverse the original order of a list, you can use the reverse() method.

If we originally stored the list of cars in chronological order according to
when we owned them, we could easily rearrange the list into reverse chron-ological order:

In [26]:
subject = ['map reduce', 'machine learning', 'data visualization','data engineering','no sql','computer network']
subject.reverse()
print(subject)

['computer network', 'no sql', 'data engineering', 'data visualization', 'machine learning', 'map reduce']

Finding the Length of a List
---
You can quickly find the length of a list by using the len() function. The list
in this example has four items, so its length is 4:

In [27]:
subject = ['map reduce', 'machine learning', 'data visualization','data engineering','no sql','computer network']
len(subject)

6

Avoiding Index errors when working with lists
---
One type of error is common to see when you’re working with lists for the
first time. Let’s say you have a list with three items, and you ask for the
7th item:

In [28]:
subject = ['map reduce', 'machine learning', 'data visualization','data engineering','no sql','computer network']
print(subject[5])

computer network

In [29]:
print(subject[-1])

computer network

Try It yourse lf
---

Try these short programs to get some firsthand experience with Python’s lists .
You might want to create a new folder for each chapter’s exercises to keep
them organized .

3-1. Names: Store the names of a few of your friends in a list called names . Print
each person’s name by accessing each element in the list, one at a time .

In [30]:
frnds = ['akash','muthu','rokesh','gokul']
print(frnds[0])
print(frnds[-3])
print(frnds[2])
print(frnds[-1])

akash
muthu
rokesh
gokul

3-2. Greetings: Start with the list you used in Exercise 3-1, but instead of just
printing each person’s name, print a message to them . The text of each mes-
sage should be the same, but each message should be personalized with the
person’s name .

In [31]:
frnds = ['akash','muthu','rokesh','gokul']
print(frnds[0]+" from Ds")
print(frnds[2]+" from DS")
print(frnds[1]+" from AI")
print(frnds[3]+" from AI")

akash from Ds
rokesh from DS
muthu from AI
gokul from AI

3-3. Your Own List: Think of your favorite mode of transportation, such as a
motorcycle or a car, and make a list that stores several examples . Use your list
to print a series of statements about these items, such as “I would like to own a
Honda motorcycle .”

In [32]:
favorite_mode_of_transportation = [['tata','Volkswagen','Daimler','Ford'],['honda', 'yamaha', 'suzuki', 'ducati']]
car = favorite_mode_of_transportation[0]
bike = favorite_mode_of_transportation[1]

In [33]:
print(car)
print(bike)

['tata', 'Volkswagen', 'Daimler', 'Ford']
['honda', 'yamaha', 'suzuki', 'ducati']

In [34]:
print(bike[-1].title()+" is costly.")

Ducati is costly.

In [35]:
print(car[0].upper()+",india’s leading automobile company.")

TATA,india’s leading automobile company.

 print a series of statements, what you want?

3-4. Guest List: If you could invite anyone, living or deceased, to dinner, who
would you invite? Make a list that includes at least three people you’d like to
invite to dinner . Then use your list to print a message to each person, inviting
them to dinner .

In [36]:
Guests=['Elon Musk','Linus Torvalds','Mark Zuckerburg','Newton','Turing','Albert']

In [37]:
print("Hello "+Guests[2]+"."" Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.")

Hello Mark Zuckerburg. Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.

In [38]:
print("Hello "+Guests[0]+"."" Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.")

Hello Elon Musk. Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.

In [39]:
print("Hello "+Guests[1]+"."" Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.")

Hello Linus Torvalds. Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.

3-5. Changing Guest List: You just heard that one of your guests can’t make the dinner, so you need to send out a new set of invitations . You’ll have to think of someone else to invite .

•  Start with your program from Exercise 3-4 . Add a print statement at the
end of your program stating the name of the guest who can’t make it .

•  Modify your list, replacing the name of the guest who can’t make it with
the name of the new person you are inviting .

•  Print a second set of invitation messages, one for each person who is still
in your list .

In [40]:
Guests=['Elon Musk','Linus Torvalds','Mark Zuckerburg','Newton','Turing','Albert']

In [41]:
print("Hello "+Guests[2]+"."" Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.")

Hello Mark Zuckerburg. Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.

In [42]:
print("Hello "+Guests[0]+"."" Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.")

Hello Elon Musk. Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.

In [43]:
print("Hello "+Guests[1]+"."" Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.")

Hello Linus Torvalds. Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.

__________________________________________________________________

In [44]:
Guests[0] = 'Edward'
modifed_Guests = Guests

In [45]:
print("Hello "+modifed_Guests[2]+"."" Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.")

Hello Mark Zuckerburg. Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.

In [46]:
print("Hello "+modifed_Guests[0]+"."" Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.")

Hello Edward. Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.

In [47]:
print("Hello "+modifed_Guests[1]+"."" Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.")

Hello Linus Torvalds. Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.

3-6. More Guests: You just found a bigger dinner table, so now more space is
available . Think of three more guests to invite to dinner.

•  Start with your program from Exercise 3-4 or Exercise 3-5 . Add a print
statement to the end of your program informing people that you found a
bigger dinner table .

•  Use insert() to add one new guest to the beginning of your list .

•  Use insert() to add one new guest to the middle of your list .

•  Use append() to add one new guest to the end of your list .

•  Print a new set of invitation messages, one for each person in your list

In [48]:
modifed_Guests

['Edward', 'Linus Torvalds', 'Mark Zuckerburg', 'Newton', 'Turing', 'Albert']

In [49]:
modifed_Guests.insert(0,'sher lock')

In [50]:
modifed_Guests

['sher lock',
 'Edward',
 'Linus Torvalds',
 'Mark Zuckerburg',
 'Newton',
 'Turing',
 'Albert']

In [51]:
modifed_Guests.insert(3,'Guido Van Rassum')

In [52]:
modifed_Guests

['sher lock',
 'Edward',
 'Linus Torvalds',
 'Guido Van Rassum',
 'Mark Zuckerburg',
 'Newton',
 'Turing',
 'Albert']

In [53]:
modifed_Guests.append('Tim Berners-Lee')

In [54]:
modifed_Guests

['sher lock',
 'Edward',
 'Linus Torvalds',
 'Guido Van Rassum',
 'Mark Zuckerburg',
 'Newton',
 'Turing',
 'Albert',
 'Tim Berners-Lee']

In [55]:
print("Hello "+modifed_Guests[-3]+"."" Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.")

Hello Turing. Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.

3-7. Shrinking Guest List: You just found out that your new dinner table won’t
arrive in time for the dinner, and you have space for only two guests .

•  Start with your program from Exercise 3-6 . Add a new line that prints a
message saying that you can invite only two people for dinner .

•  Use pop() to remove guests from your list one at a time until only two
names remain in your list . Each time you pop a name from your list, print
a message to that person letting them know you’re sorry you can’t invite
them to dinner .

•  Print a message to each of the two people still on your list, letting them
know they’re still invited .

•  Use del to remove the last two names from your list, so you have an empty
list . Print your list to make sure you actually have an empty list at the end
of your program

In [56]:
print("Hello "+modifed_Guests[-3]+"."" Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.")

Hello Turing. Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.

In [57]:
print("Hello "+modifed_Guests[-1]+"."" Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.")

Hello Tim Berners-Lee. Everything is well at my end and hope the same with you. In this letter, I wanted to invite you to have dinner with me and my family.

In [58]:
modifed_Guests.pop(0)
modifed_Guests.pop(1)
modifed_Guests.pop(2)
modifed_Guests.pop(1)

'Guido Van Rassum'

In [59]:
modifed_Guests

['Edward', 'Newton', 'Turing', 'Albert', 'Tim Berners-Lee']

In [60]:
print("Hello "+modifed_Guests[-1]+" you’re sorry you can’t invite them to dinner.")

Hello Tim Berners-Lee you’re sorry you can’t invite them to dinner.

In [61]:
print("Hello "+modifed_Guests[0]+" you’re sorry you can’t invite them to dinner.")

Hello Edward you’re sorry you can’t invite them to dinner.

In [62]:
del modifed_Guests[0]

In [63]:
modifed_Guests

['Newton', 'Turing', 'Albert', 'Tim Berners-Lee']

3-8. Seeing the World: Think of at least five places in the world you’d like to
visit .

•  Store the locations in a list . Make sure the list is not in alphabetical order .

•  Print your list in its original order . Don’t worry about printing the list neatly,
just print it as a raw Python list .

•  Use sorted() to print your list in alphabetical order without modifying the
actual list .

•  Show that your list is still in its original order by printing it .
•  Use sorted() to print your list in reverse alphabetical order without chang-
ing the order of the original list .

•  Show that your list is still in its original order by printing it again .

•  Use reverse() to change the order of your list . Print the list to show that its
order has changed .

•  Use reverse() to change the order of your list again . Print the list to show
it’s back to its original order .

•  Use sort() to change your list so it’s stored in alphabetical order . Print the
list to show that its order has been changed .

•  Use sort() to change your list so it’s stored in reverse alphabetical order .

Print the list to show that its order has changed .

In [64]:
visited_location = ['Hosur','Tiruchirapalli','Salem','Erode','Kumbakonam']

In [65]:
print(sorted(visited_location))

['Erode', 'Hosur', 'Kumbakonam', 'Salem', 'Tiruchirapalli']

In [66]:
visited_location

['Hosur', 'Tiruchirapalli', 'Salem', 'Erode', 'Kumbakonam']

In [67]:
visited_location = ['Hosur','Tiruchirapalli','Salem','Erode','Kumbakonam']
print(sorted(visited_location))
visited_location.reverse()
print(visited_location)

['Erode', 'Hosur', 'Kumbakonam', 'Salem', 'Tiruchirapalli']
['Kumbakonam', 'Erode', 'Salem', 'Tiruchirapalli', 'Hosur']

3-9. Dinner Guests: Working with one of the programs from Exercises 3-4
through 3-7 (page 46), use len() to print a message indicating the number
of people you are inviting to dinner .

In [68]:
len(modifed_Guests)

4

3-10. Every Function: Think of something you could store in a list . For example,
you could make a list of mountains, rivers, countries, cities, languages, or any-
thing else you’d like . Write a program that creates a list containing these items
and then uses each function introduced in this chapter at least once .

In [69]:
Cities = ['Hosur','Tiruchirapalli','Salem','Erode','Kumbakonam']
for city in Cities:
    print(city + " in Tamilnadu")

Hosur in Tamilnadu
Tiruchirapalli in Tamilnadu
Salem in Tamilnadu
Erode in Tamilnadu
Kumbakonam in Tamilnadu

3-11. Intentional Error: If you haven’t received an index error in one of your
programs yet, try to make one happen . Change an index in one of your pro-
grams to produce an index error . Make sure you correct the error before clos-
ing the program .

In [70]:
'''subject = ['map reduce', 'machine learning', 'data visualization','data engineering','no sql','computer network']
print(subject[6])'''
subject = ['map reduce', 'machine learning', 'data visualization','data engineering','no sql','computer network']
print(subject[3])

data engineering